// Transparent
.has-background\\:transparent
.hover\\:has-background\\:transparent:hover
    background-color transparent

.has-color\\:transparent
.hover\\:has-color\\:transparent:hover
    color transparent

// White
.has-background\\:white
.hover\\:has-background\\:white:hover
    background-color $white

.has-color\\:white
.hover\\:has-color\\:white:hover
    color $white

// Black
.has-background\\:.hover\\:has-background\\:black:hover
    background-color $black

.has-color\\:black
.hover\\:has-color\\:black:hover
    color $black

.has-background\\:light
.hover\\:has-background\\:light:hover
    background-color $light

.has-color\\:light
.hover\\:has-color\\:light:hover
    color $light

.has-background\\:dark
.hover\\:has-background\\:dark:hover
    background-color $dark

.has-color\\:dark
.hover\\:has-color\\:dark:hover
    color $dark

.has-background\\:gray
.hover\\:has-background\\:gray:hover
    background-color $gray

.has-color\\:gray
.hover\\:has-color\\:gray:hover
    color $gray
