// Align
.has-text\\:center
    text-align center

.has-text\\:left
    text-align left

.has-text\\:right
    text-align right

.has-text\\:justify
    text-align justify

// Transform
.has-text\\:lowercase
    text-transform lowercase

.has-text\\:uppercase
    text-transform uppercase

.has-text\\:capitalize
    text-transform capitalize

// Style
.has-text\\:italic
    font-style italic

.has-text\\:normal
    text-transform none
    font-style normal

// Other
.has-text\\:nowrap
    white-space nowrap

.has-text\\:truncate
    truncate true
