// Default
$black ?= #000
$white ?= #FFF
$orange ?= #FF470F
$yellow ?= #FFDD57
$green ?= #23D160
$turquoise ?= #00D1B2
$blue ?= #3273DC
$purple ?= #B86BFF
$red ?= #FF3860
// Primary
$primary ?= #ed726c
$secondary ?= #35495e
$tertiary ?= #384457
$info ?= $blue
$success ?= $green
$warning ?= $yellow
$danger ?= $red
$light ?= $white
$dark ?= $black
$gray ?= #ecf0f1
