// Main
$body-size ?= 16px
// Font Family
$family-sans-serif ?= -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
$family-monospace ?= monospace
// Font Size
$size-1 ?= $body-size + 200%
$size-2 ?= $body-size + 150%
$size-3 ?= $body-size + 100%
$size-4 ?= $body-size + 50%
$size-5 ?= $body-size + 25%
$size-6 ?= $body-size
// Font Weight
$weight-light ?= 300
$weight-normal ?= 400
$weight-semibold ?= 500
$weight-bold ?= 700
