radius()
    border-radius arguments

radius-top()
    border-top-left-radius arguments
    border-top-right-radius arguments

radius-right()
    border-top-right-radius arguments
    border-bottom-right-radius arguments

radius-bottom()
    border-bottom-right-radius arguments
    border-bottom-left-radius arguments

radius-left()
    border-top-left-radius arguments
    border-bottom-left-radius arguments
